openapi: 3.2.0
info:
  version: 1.0.0
  title: NextGen Office FHIR Care Team API
  description: 'Our API is coded against the US Core Specification (FHIR Version: 4.0.0) https://hl7.org/fhir/us/core/CapabilityStatement-server.html'
  contact:
    email: nextgen-office-api@nextgen.com
servers:
- url: https://fhir.meditouchehr.com/api/
security:
- OauthSecurity:
  - patient/*.read
tags:
- name: CareTeam
  description: https://hl7.org/fhir/R4/careteam.html
paths:
  /fhir/r4/CareTeam/{id}:
    get:
      tags:
      - CareTeam
      description: "Fetches a single Care Team member by id.  \n \n FHIR Resource: CareTeam \n *\tCare Team \n"
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareTeamBundled'
        '404':
          $ref: '#/components/responses/ResourceNotFound404'
        '401':
          $ref: '#/components/responses/ResourceNotAuthorized401'
  /fhir/r4/CareTeam:
    get:
      tags:
      - CareTeam
      description: "Fetches a bundled resource containing details of the Care Team members for the patient or care team ID mentioned in the request.  \n \n FHIR Resource: CareTeam \n \n - If only `patient_id` is provided, care team for the patient may be returned.\n - If only `_id` is provided, care team for the care team ID may be returned.\n - If `patient_id` and `status` are provided, care team members matching the patient and status are returned.\n - Requests containing both `_id` and `patient_id`, `_id` and `status`, `status` alone or all three parameters together or providing no parameters will result in a `400 Bad Request`.\n\n *\tCare Team \n"
      parameters:
      - $ref: '#/components/parameters/optional_patient_id'
      - $ref: '#/components/parameters/ct_status'
      - $ref: '#/components/parameters/_id'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CareTeamBundled'
        '400':
          description: "**Invalid request:** The following conditions will result in a `400 Bad Request`:\n\n - `_id` and `patient_id` cannot be provided together.\n - `_id` and `status` cannot be provided together.\n - Providing only `status` is not allowed.\n - Providing all three parameters (`_id`, `patient_id`, and `status`) is not allowed.\n - Providing none is not allowed."
        '404':
          $ref: '#/components/responses/ResourceNotFound404'
        '401':
          $ref: '#/components/responses/ResourceNotAuthorized401'
components:
  schemas:
    CareTeam:
      type: object
      properties:
        resourceType:
          type: string
          minLength: 1
        id:
          type: string
          minLength: 1
        status:
          type: string
          minLength: 1
          description: proposed | active | suspended | inactive | entered-in-error
        subject:
          type: object
          properties:
            reference:
              type: string
              minLength: 1
              description: Literal reference, Relative, internal or absolute URL
        participant:
          type: array
          description: Members of the team
          items:
            type: object
            properties:
              role:
                type: array
                description: Type of involvement
                items:
                  type: object
                  properties:
                    coding:
                      type: array
                      items:
                        type: object
                        properties:
                          system:
                            type: string
                            description: Identity of the terminology system
                          code:
                            type: string
                          display:
                            type: string
                    text:
                      type: string
                      minLength: 1
              member:
                type: object
                properties:
                  reference:
                    type: string
                    minLength: 1
                    description: Literal reference, Relative, internal or absolute URL
                  display:
                    type: string
                    minLength: 1
                    description: Text alternative for the resource
                required:
                - reference
      required:
      - status
    CareTeamBundled:
      type: object
      properties:
        resourceType:
          type: string
          minLength: 1
        id:
          type: string
        meta:
          type: object
          properties:
            lastUpdated:
              type: string
              description: Date in format - YYYY-MM-DDThh:mm:ss+zz
        type:
          type: string
          minLength: 1
          description: Type of Search
        total:
          type: integer
          description: Number of CareTeam record in entry field
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
                minLength: 1
                description: relation of the resource with link provided in url
              url:
                type: string
                minLength: 1
                description: FHIR URI of the request
            required:
            - relation
            - url
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
                minLength: 1
                description: FHIR URI of respective CareTeam resource in entry
              resource:
                $ref: '#/components/schemas/CareTeam'
      required:
      - id
      - resourceType
      - meta
      - type
      - link
  responses:
    ResourceNotFound404:
      description: Resource not found
    ResourceNotAuthorized401:
      description: Resource not authorized to be viewed by this user
  parameters:
    id:
      description: The id of the resource
      name: id
      in: path
      required: true
      schema:
        type: string
    optional_patient_id:
      description: The id of the patient
      name: patient
      in: query
      required: false
      schema:
        type: string
    _id:
      description: The id of the resource
      name: _id
      in: query
      required: false
      schema:
        type: string
    ct_status:
      description: Supported Values proposed | active | suspended | inactive | entered-in-error. See http://hl7.org/fhir/R4/valueset-care-team-status.html
      name: status
      in: query
      required: false
      schema:
        type: string
  securitySchemes:
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            openid: Open ID scope
            launch/patient: Used by clients to request a patient-scoped access token
            offline_access: Request a refresh_token that can be used to obtain a new access token to replace an expired one, and that will be usable for as long as the end-user remains online.
            patient/*.read: Read access to all Patient Resources
          authorizationUrl: https://idp-prod.prod.ngo.nextgenaws.net/auth/realms/nextgen/protocol/openid-connect/auth?aud=https://fhir.meditouchehr.com/api/fhir/r4
          tokenUrl: https://idp-prod.prod.ngo.nextgenaws.net/auth/realms/nextgen/protocol/openid-connect/token
      description: Access code based oauth authentication
externalDocs:
  description: Find out more about NextGen Office FHIR API
  url: https://www.nextgen.com/products-and-services/nextgen-office
