openapi: 3.2.0
info:
  version: 1.0.0
  title: NextGen Office FHIR Goal API
  description: 'Our API is coded against the US Core Specification (FHIR Version: 4.0.0) https://hl7.org/fhir/us/core/CapabilityStatement-server.html'
  contact:
    email: nextgen-office-api@nextgen.com
servers:
- url: https://fhir.meditouchehr.com/api/
security:
- OauthSecurity:
  - patient/*.read
tags:
- name: Goal
  description: https://hl7.org/fhir/R4/goal.html
paths:
  /fhir/r4/Goal/{id}:
    get:
      tags:
      - Goal
      description: "Fetches a single Goal by id. \n \n FHIR Resource: Goal \n *\tPatient Goals"
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Goal'
        '404':
          $ref: '#/components/responses/ResourceNotFound404'
        '401':
          $ref: '#/components/responses/ResourceNotAuthorized401'
  /fhir/r4/Goal:
    get:
      tags:
      - Goal
      description: "Fetches a bundled resource containing the health concern goals for the patient mentioned in the request.\n \n FHIR Resource: Goal \n *\tPatient Goals"
      parameters:
      - $ref: '#/components/parameters/patient_id'
      - $ref: '#/components/parameters/date'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoalBundled'
        '404':
          $ref: '#/components/responses/ResourceNotFound404'
        '401':
          $ref: '#/components/responses/ResourceNotAuthorized401'
components:
  responses:
    ResourceNotFound404:
      description: Resource not found
    ResourceNotAuthorized401:
      description: Resource not authorized to be viewed by this user
  parameters:
    id:
      description: The id of the resource
      name: id
      in: path
      required: true
      schema:
        type: string
    date:
      description: A date parameter searches on a date/time or period. The only supported prefixes are - gt, lt, ge, le, eq. Example-gt2015-01-15. See https://www.hl7.org/fhir/R4/search.html#date.
      name: date
      in: query
      schema:
        type: string
    patient_id:
      description: The id of the patient
      name: patient
      in: query
      required: true
      schema:
        type: string
  schemas:
    Goal:
      type: object
      properties:
        resourceType:
          type: string
          minLength: 1
        id:
          type: string
          minLength: 1
        meta:
          type: object
          properties:
            profile:
              type: array
              items:
                type: string
          required:
          - profile
        lifecyclestatus:
          type: string
          description: describe the status
        description:
          type: object
          description: describe the status.
          properties:
            text:
              type: string
        subject:
          type: object
          properties:
            reference:
              type: string
        target:
          type: array
          items:
            type: object
            properties:
              due date:
                type: string
                minLength: 1
                description: Date in format - YYYY-MM-DDThh:mm:ss+zz
      required:
      - resourceType
      - id
      - meta
      - lifecyclestatus
      - description
      - subject
      - target
    GoalBundled:
      type: object
      properties:
        resourceType:
          type: string
          minLength: 1
        id:
          type: string
          minLength: 1
          description: id of the resource
        Meta:
          type: object
          description: Metadata about the resource
          properties:
            lastUpdated:
              type: string
        type:
          type: string
          minLength: 1
          description: Type of Search
        total:
          type: integer
          description: Number of Goals in entry field
        Link:
          type: object
          properties:
            relation:
              type: string
              minLength: 1
              description: relation of the resource with link provided in url
            url:
              type: string
              minLength: 1
              description: FHIR URI of the request
              required:
              - relation
              - url
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
                minLength: 1
                description: FHIR URI of respective Goal resource in entry
              resource:
                $ref: '#/components/schemas/Goal'
      required:
      - resourceType
      - id
      - Meta
      - type
      - total
      - link
      - entry
  securitySchemes:
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            openid: Open ID scope
            launch/patient: Used by clients to request a patient-scoped access token
            offline_access: Request a refresh_token that can be used to obtain a new access token to replace an expired one, and that will be usable for as long as the end-user remains online.
            patient/*.read: Read access to all Patient Resources
          authorizationUrl: https://idp-prod.prod.ngo.nextgenaws.net/auth/realms/nextgen/protocol/openid-connect/auth?aud=https://fhir.meditouchehr.com/api/fhir/r4
          tokenUrl: https://idp-prod.prod.ngo.nextgenaws.net/auth/realms/nextgen/protocol/openid-connect/token
      description: Access code based oauth authentication
externalDocs:
  description: Find out more about NextGen Office FHIR API
  url: https://www.nextgen.com/products-and-services/nextgen-office
