openapi: 3.2.0
info:
  version: 1.0.0
  title: NextGen Office FHIR Condition API
  description: 'Our API is coded against the US Core Specification (FHIR Version: 4.0.0) https://hl7.org/fhir/us/core/CapabilityStatement-server.html'
  contact:
    email: nextgen-office-api@nextgen.com
servers:
- url: https://fhir.meditouchehr.com/api/
security:
- OauthSecurity:
  - patient/*.read
tags:
- name: Condition
  description: https://hl7.org/fhir/R4/condition.html
paths:
  /fhir/r4/Condition/{id}:
    get:
      tags:
      - Condition
      description: "Fetches a bundled resource containing the condition/problem associated with the provided resource id.  \n \n FHIR Resource: Condition \n *\tHealth Concerns \n * Problems \n * Encounter Diagnosis \n"
      parameters:
      - $ref: '#/components/parameters/condition_id'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Condition'
        '404':
          $ref: '#/components/responses/ResourceNotFound404'
        '401':
          $ref: '#/components/responses/ResourceNotAuthorized401'
  /fhir/r4/Condition:
    get:
      tags:
      - Condition
      description: "Fetches a bundled resource containing the conditions/problems for the patient mentioned in the request. All conditions are mapped to SNOMED codes.  \n \n FHIR Resource: Condition \n *\tHealth Concerns \n * Problems \n * Encounter Diagnosis \n"
      parameters:
      - $ref: '#/components/parameters/patient_id'
      - $ref: '#/components/parameters/condition_category'
      - $ref: '#/components/parameters/date'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConditionBundled'
        '404':
          $ref: '#/components/responses/ResourceNotFound404'
        '401':
          $ref: '#/components/responses/ResourceNotAuthorized401'
components:
  responses:
    ResourceNotFound404:
      description: Resource not found
    ResourceNotAuthorized401:
      description: Resource not authorized to be viewed by this user
  parameters:
    date:
      description: A date parameter searches on a date/time or period. The only supported prefixes are - gt, lt, ge, le, eq. Example-gt2015-01-15. See https://www.hl7.org/fhir/R4/search.html#date.
      name: date
      in: query
      schema:
        type: string
    condition_category:
      description: The category of the condition. See http://hl7.org/fhir/R4/valueset-condition-category.html
      name: category
      in: query
      required: false
      schema:
        type: string
    condition_id:
      description: The id of the resource with prefix values PL | HC | ED with hyphen.Example PL-123
      name: id
      in: path
      required: true
      schema:
        type: string
    patient_id:
      description: The id of the patient
      name: patient
      in: query
      required: true
      schema:
        type: string
  schemas:
    ConditionBundled:
      type: object
      properties:
        resourceType:
          type: string
          minLength: 1
        id:
          type: string
          minLength: 1
          description: id of the resource
        meta:
          type: object
          description: Metadata about the resource
          properties:
            profile:
              description: Profiles this resource claims to conform to
              type: array
              items:
                type: string
          required:
          - profile
        type:
          type: string
          minLength: 1
          description: Type of Search
        total:
          type: integer
          description: Number of Consitions in entry field
        link:
          type: object
          properties:
            relation:
              type: string
              minLength: 1
              description: relation of the resource with link provided in url
            url:
              type: string
              minLength: 1
              description: FHIR URI of the request
          required:
          - relation
          - url
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
                minLength: 1
                description: FHIR URI of respective Condition resource in entry
              resource:
                $ref: '#/components/schemas/Condition'
      required:
      - resourceType
      - id
      - meta
      - type
      - total
      - link
      - entry
    Condition:
      type: object
      properties:
        resourceType:
          type: string
          minLength: 1
        id:
          type: string
          minLength: 1
          description: id of the resource
        meta:
          type: object
          description: Metadata about the resource
          properties:
            profile:
              description: Profiles this resource claims to conform to
              type: array
              items:
                type: string
          required:
          - profile
        clinicalStatus:
          type: object
          properties:
            coding:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                    minLength: 1
                    description: Symbol in syntax defined by the system
                  code:
                    type: string
                    minLength: 1
                    description: Symbol in syntax defined by the system
                  display:
                    type: string
                    minLength: 1
                    description: Representation defined by the system
                required:
                - display
                - system
              description: Code defined by a terminology system
            text:
              type: string
              minLength: 1
              description: Plain text representation of the concept
          required:
          - coding
          - text
        verificationStatus:
          type: object
          properties:
            coding:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                    minLength: 1
                    description: Symbol in syntax defined by the system
                  code:
                    type: string
                    minLength: 1
                    description: Symbol in syntax defined by the system
                  display:
                    type: string
                    minLength: 1
                    description: Representation defined by the system
                required:
                - display
                - system
              description: Code defined by a terminology system
            text:
              type: string
              minLength: 1
              description: Plain text representation of the concept
          required:
          - coding
          - text
        category:
          type: array
          items:
            type: object
            properties:
              coding:
                type: array
                items:
                  type: object
                  properties:
                    system:
                      type: string
                      minLength: 1
                      description: Symbol in syntax defined by the system
                    code:
                      type: string
                      minLength: 1
                      description: Symbol in syntax defined by the system
                    display:
                      type: string
                      minLength: 1
                      description: Representation defined by the system
                  required:
                  - display
                  - system
                description: Code defined by a terminology system
              text:
                type: string
                minLength: 1
                description: Plain text representation of the concept
            required:
            - coding
            - text
        code:
          type: object
          properties:
            coding:
              type: array
              items:
                type: object
                properties:
                  system:
                    type: string
                    minLength: 1
                    description: Symbol in syntax defined by the system
                  code:
                    type: string
                    minLength: 1
                    description: Symbol in syntax defined by the system
                  display:
                    type: string
                    minLength: 1
                    description: Representation defined by the system
                required:
                - display
                - system
              description: Code defined by a terminology system
            text:
              type: string
              minLength: 1
              description: Plain text representation of the concept
          required:
          - coding
          - text
        subject:
          type: object
          properties:
            reference:
              type: string
              minLength: 1
              description: Literal reference, Relative, internal or absolute URL
            display:
              type: string
              minLength: 1
              description: Text alternative for the resource
          required:
          - reference
        encounter:
          type: object
          properties:
            reference:
              type: string
              minLength: 1
              description: Literal reference, Relative, internal or absolute URL
            display:
              type: string
              minLength: 1
              description: Text alternative for the resource
          required:
          - reference
        onsetDateTime:
          type: string
          minLength: 1
          description: Date in format - YYYY-MM-DDThh:mm:ss+zz
      required:
      - resourceType
      - id
      - meta
      - clinicalStatus
      - verificationStatus
      - category
      - code
      - subject
      - onsetDateTime
  securitySchemes:
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            openid: Open ID scope
            launch/patient: Used by clients to request a patient-scoped access token
            offline_access: Request a refresh_token that can be used to obtain a new access token to replace an expired one, and that will be usable for as long as the end-user remains online.
            patient/*.read: Read access to all Patient Resources
          authorizationUrl: https://idp-prod.prod.ngo.nextgenaws.net/auth/realms/nextgen/protocol/openid-connect/auth?aud=https://fhir.meditouchehr.com/api/fhir/r4
          tokenUrl: https://idp-prod.prod.ngo.nextgenaws.net/auth/realms/nextgen/protocol/openid-connect/token
      description: Access code based oauth authentication
externalDocs:
  description: Find out more about NextGen Office FHIR API
  url: https://www.nextgen.com/products-and-services/nextgen-office
