openapi: 3.2.0
info:
  version: 1.0.0
  title: NextGen Office FHIR Procedure API
  description: 'Our API is coded against the US Core Specification (FHIR Version: 4.0.0) https://hl7.org/fhir/us/core/CapabilityStatement-server.html'
  contact:
    email: nextgen-office-api@nextgen.com
servers:
- url: https://fhir.meditouchehr.com/api/
security:
- OauthSecurity:
  - patient/*.read
tags:
- name: Procedure
  description: https://hl7.org/fhir/R4/procedure.html
paths:
  /fhir/r4/Procedure/{id}:
    get:
      tags:
      - Procedure
      description: "Fetches a single Procedure by id. \n \n FHIR Resource: Procedure \n *\tProcedures"
      parameters:
      - $ref: '#/components/parameters/id'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Procedure'
        '404':
          $ref: '#/components/responses/ResourceNotFound404'
        '401':
          $ref: '#/components/responses/ResourceNotAuthorized401'
  /fhir/r4/Procedure:
    get:
      tags:
      - Procedure
      description: "Fetches a bundled resource containing the valid procedures for the patient mentioned in the request. The procedures pertain to the encounters available for the patient. \n \n FHIR Resource: Procedure \n *\tProcedures"
      parameters:
      - $ref: '#/components/parameters/patient_id'
      - $ref: '#/components/parameters/date'
      responses:
        '200':
          description: success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProcedureBundled'
        '404':
          $ref: '#/components/responses/ResourceNotFound404'
        '401':
          $ref: '#/components/responses/ResourceNotAuthorized401'
components:
  responses:
    ResourceNotFound404:
      description: Resource not found
    ResourceNotAuthorized401:
      description: Resource not authorized to be viewed by this user
  parameters:
    id:
      description: The id of the resource
      name: id
      in: path
      required: true
      schema:
        type: string
    date:
      description: A date parameter searches on a date/time or period. The only supported prefixes are - gt, lt, ge, le, eq. Example-gt2015-01-15. See https://www.hl7.org/fhir/R4/search.html#date.
      name: date
      in: query
      schema:
        type: string
    patient_id:
      description: The id of the patient
      name: patient
      in: query
      required: true
      schema:
        type: string
  schemas:
    Procedure:
      type: object
      properties:
        resourceType:
          type: string
          minLength: 1
        id:
          type: string
          description: The id of the resource.
        meta:
          type: object
          properties:
            profile:
              type: array
              items:
                type: string
        status:
          type: string
          description: preparation | in-progress | not-done | on-hold | stopped | completed | entered-in-error | unknown
        code:
          type: object
          description: Identification of the procedure
          properties:
            coding:
              type: array
              items:
                type: object
                properties:
                  code:
                    type: string
                  system:
                    type: string
                  display:
                    type: string
            text:
              type: string
        subject:
          type: object
          description: Who the procedure was performed on.
          properties:
            reference:
              type: string
          required:
          - reference
        performedDateTime:
          type: string
          description: Date in format - YYYY-MM-DDThh:mm:ss+zz
      required:
      - status
      - id
      - resourceType
      - meta
      - subject
    ProcedureBundled:
      type: object
      properties:
        resourceType:
          type: string
          minLength: 1
        id:
          type: string
          description: The id of the resource.
        meta:
          type: object
          properties:
            lastUpdated:
              type: string
              description: Date in format - YYYY-MM-DDThh:mm:ss+zz
        type:
          type: string
          minLength: 1
          description: Type of Search
        total:
          type: integer
          description: Number of procedure in entry field
        link:
          type: array
          items:
            type: object
            properties:
              relation:
                type: string
                minLength: 1
                description: relation of the resource with link provided in url
              url:
                type: string
                minLength: 1
                description: FHIR URI of the request
          required:
          - relation
          - url
        entry:
          type: array
          items:
            type: object
            properties:
              fullUrl:
                type: string
                minLength: 1
                description: FHIR URI of respective Condition resource in entry
              resource:
                $ref: '#/components/schemas/Procedure'
      required:
      - resourceType
      - id
      - meta
      - type
      - total
      - link
      - entry
  securitySchemes:
    OauthSecurity:
      type: oauth2
      flows:
        authorizationCode:
          scopes:
            openid: Open ID scope
            launch/patient: Used by clients to request a patient-scoped access token
            offline_access: Request a refresh_token that can be used to obtain a new access token to replace an expired one, and that will be usable for as long as the end-user remains online.
            patient/*.read: Read access to all Patient Resources
          authorizationUrl: https://idp-prod.prod.ngo.nextgenaws.net/auth/realms/nextgen/protocol/openid-connect/auth?aud=https://fhir.meditouchehr.com/api/fhir/r4
          tokenUrl: https://idp-prod.prod.ngo.nextgenaws.net/auth/realms/nextgen/protocol/openid-connect/token
      description: Access code based oauth authentication
externalDocs:
  description: Find out more about NextGen Office FHIR API
  url: https://www.nextgen.com/products-and-services/nextgen-office
